#main_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#main_section .profile {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  overflow: hidden;
}

#main_section .profile img {
  width: 100%;
}

#main_section .title {
  color: var(--color-white);
  font-size: 100px;
}

#banner_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

#banner_section .banner_img {
  width: 100%;
  z-index: 1;
}

#banner_section .text_area {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 0 60px;
}

#banner_section .text_area .title {
  color: var(--color-white);
  font-size: 60px;
}

#banner_section .text_area .description {
  color: var(--color-white);
  font-size: 16px;
}